*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
nav{
    height: 80px;
    width: 100%;
    background-color: rgb(25, 11, 76);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1000;
    
}
.logo{
    font-size: 2rem;
    color: white;
    font-weight:bold;
    padding: 0 30px;
    line-height: 80px;  
}
ul li{
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.5rem; 
    padding: .4rem  1rem; 
    margin-right: 1rem;
}
ul li:hover{
    border: 1px solid white;
    border-radius: 5px;
    transition: .5s;
}
ul li a{
    text-decoration: none;
    color: white;
}
section{
    width: 100%;
    height: 900px;
    border: 1px solid black;
}
.baner{
    width: 100%;
    height: 550px;
    margin-top: 50px;
    background-color: red;
}
.ho1ma .hm11{
    width: 350px;
    height: 300px;
    background-color: #9633ff ;
    border-radius: 10px;

}
.ho1ma .hm12{
    width: 350px;
    height: 300px;
    background-color:#4961da  ;
    border-radius: 10px;
}
.hm11 :hover{
    scale: 1.095;
    transition: 1s;

}
.hm12 :hover{
    scale: 1.095;
    transition: 1s;


}
.ho1ma .hm123{
    width: 600px;
    height: 300px;
    border-radius: 10px;
    display: flex; 
    overflow: hidden;
}
.ho1ma .hm123 :hover{
    scale: 1.099;
    transition: 1s;
}
.categories{
    width: 100%;
    height: 510px;
    margin-top: 20px;
    
}
.categories div{
    width: 200px;
    height: 200px;
    border: 15px solid rgb(236, 236, 236);
    border-radius: 50%;
    float: right;  
    margin-left: 40px;
    margin-right:40px;
    margin-top: 30px;   
}
.categories div:hover{
    scale: 1.1;
    transition: 1s;
}
.shopin{
    width: 100%;
    height: 100%;
}
.shopin .pro{
    width: 350px;
    height: 400px;
    border: 10px solid rgb(236, 236, 236);
    background-color: white;
    border-radius: 30px;
    float: left;
    margin-left: 100px;
    margin-top: 30px;   
}
.shopin .pro div img:hover{
    scale: 1.1;
    transition: 1s;    
}
.abm div{
    width: 300px;
    height: 300px;
}
.lo{
    font-size: 2rem;
    color: white;
    font-weight:bold;
    padding: 0 30px;
    line-height: 50px;  
    padding-top: 10px;
}





















